body {margin: 0px;}

#header {
	overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0px;
    float: left;
    display: block;
    color: #a7a3a3;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 4px solid blue;
}

h1{
	font-size: 18px;
	font-weight: bold;
	margin-left: 20px;
}
h1 a {
	color: #a7a3a3;
	text-decoration: none;
	margin-right: 40px;
	float: right;
	font-size: 14px;
}

#herounit {
	margin-top: 88px;
	background-color: #5e5c5c;
	width :100%;
	padding :14px 16px;
	margin-left: 0px;
	margin-right: 0px;
}

#herounit h3{
	text-align: center;
}

#footer {
	padding: 14px 16px; 
	background-color: black;
}

h2{
	font-size: 18px;
	font-weight: bold;
	color: white;
}

h2 p{
	margin-left: 620px;
	display: inline-block;
}

#footer a{
	padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    float: right;
}

textarea{
	position: relative;
	border: solid 1px blue;
    height: 85px;
    width: 310px;
    font-size: 15px;
    font-color: black;
    padding-left: 5px;
}
button{
    position: relative;
    border: solid 1px blue;
    height: 25px;
    width: 115px;
    color: black;
}