body {margin: 0;}

/*Styling Nav Bar*/
.header-menu { 
	overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    float: left;
    display: block;
    color: #a7a3a3;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 4px solid blue;
}

h2{
	font-size: 18px;
	font-weight: bold;
	margin-left: 20px;
}
h2 a {
	color: #a7a3a3;
	text-decoration: none;
	margin-right: 40px;
	float: right;
	font-size: 14px;
}
/*Styling end to end unit*/
.herounit {
	margin-top: 82px;
	background-color: #5e5c5c;
	padding :14px 16px;
	margin-left: 0;
	margin-right: 0;
}
h3{
	display: inline-block;
	margin-left: 400px;
}
/*Styling footer*/
.footer-social {
	padding: 0 14px 10px 16px; 
	background-color: black;
}

.pull-left ,.pull-right{
	font-size: 18px;
	font-weight: bold;
	color: white;
}

/*Styling footer*/
.footer-social a{
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    float: right;
}

textarea{
	border: solid 1px blue;
    font-size: 15px;
}
button{
    position:relative;
    color: black;
    padding: 5px 20px;
}

span {
	margin-top: 0px;
	margin-bottom: 5px;
}